h2 {
    color:grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-left:20px;
}

.addForm{
    width:70%;
}

#inputCategory,
#buttonAdd{
    width:50%;
    display:inline-block;
    margin-left:2px;
}
#buttonAdd{
    width:20%;
    display:inline-block;
    margin-left:2px;
    position: absolute;
}